<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XMediaHub-SA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🌐 XMediaHub-SA</h1>

    <h3>Select Downloader</h3>

    <br>

    <a href="/youtube">
        <button>▶ YouTube Downloader</button>
    </a>

    <br><br>

    <a href="/twitter">
        <button>🐦 X Downloader</button>
    </a>

    <br><br>

    <a href="/instagram">
        <button>📷 Instagram Downloader</button>
    </a>

    <br><br>

    <a href="/spotify">
        <button>🎵 Spotify Downloader</button>
    </a>

</div>

</body>
</html>